body
{
	padding: 0;
	margin: 0;
	font-family: 'Lato', sans-serif;
	font-size: 62,5%;
	min-height: 100vh;
	background-color: #2c3e50;
	position: relative;
	padding-bottom: 100px;
}

.btn 
{
  cursor: pointer;
  position: relative;
  display: block;
  margin: 10px auto;
  padding: 15px;
  overflow: hidden;
  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  background-color: #2ecc71;
  color: #ecf0f1;
  transition: background-color .3s;
}


.menu-main
{
 display: none;
}

.btn-add
{
	text-align: center;
	text-decoration: none;
	font-family: 'Vollkorn SC', serif;
}

.btn:hover, .btn:focus {
  background-color: #27ae60;
}

.btn > * {
  position: relative;
}

.btn span 
{
  display: block;
  padding: 12px 24px;
}

.btn:before 
{
  content: "";
  
  position: absolute;
  top: 50%;
  left: 50%;
  
  display: block;
  width: 0;
  padding-top: 0;
    
  border-radius: 100%;
  
  background-color: rgba(236, 240, 241, .3);
  
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before 
{
  width: 120%;
  padding-top: 120%;  
  transition: width .2s ease-out, padding-top .2s ease-out;
}

.btn.red
{
  background-color: #e74c3c;
}

a {
	text-decoration: none;
}

@media only screen and (min-width: 320px)
{

	.main-header
	{
		display: flex;
		justify-content: space-between;
		background-color: #34495e;
		font-family: 'Vollkorn SC', serif;
	}

	.page-logo
	{
		font-size: 1.6rem;
		font-weight: bold;
		color: #ffffff;
		margin: 10px;
		padding: 10px;
	}

	.page-logo a
	{
		text-decoration: none;
		color: #FFFFFF;
	}

	.main-navigation
	{
		position: relative;
	}

	.call-to-menu
	{
		border: none;
		background-color: inherit;
		color: #ffffff;
		font-size: 1.6rem; 
		margin: 10px;
		padding: 10px;
		cursor: pointer;
	}

	.menu-list
	{	
		list-style: none;
		position: absolute;
	    display: none;
	    flex-direction: column;
	    right: 0;
	    width: 100vw;
	    background-color: #34495e;
		margin-top: 0;
		border-left: 2px solid #fff;
    	border-bottom: 2px solid #fff;
	}

	.menu-list li
	{
		background-color: #34495e;
	}

	.menu-list .nav-item
	{
		display: flex;
		z-index: 1000;
		box-sizing: border-box;
		justify-content: center;
		border-top: 1px solid #ecf0f1;
		padding: 8px;
		transition: 1s background-color ease-in-out;
	}

	.menu-list:last-child
	{
		border-bottom: 1px solid #95a5a6;
	}


	.menu-list .nav-item:hover
	{
		background-color: #7f8c8d;
	}

	.menu-list .nav-item a 
	{
		width: 100%;
		text-align: center;
		text-decoration: none;
		color: #ffffff;
		cursor: pointer;
	}

	.nav-opened
	{
		display: flex;
	}

	.main-wrapper
	{
		box-sizing: border-box;
		padding: 5px;
		background-color: #2c3e50;
	}

	.post
	{
		background-color: #ecf0f1;
		display: flex;
		margin: 10px;
		padding: 10px;
		flex-direction: column;
	}

	.post-data
	{
		display: flex;
		justify-content: space-between;
		font-size: .9rem;
	}
	
	.post-options
	{
		display: flex;
		justify-content: space-between;
	}

	.votes
	{
		display: flex;
	}

	.vote
	{
		margin: 5px;
		border-radius: 10px;
		background-color: #bdc3c7;
		cursor: pointer;
	}

	.vote.green
	{
		color: #27ae60;
	}

	.vote.red
	{
		color: #e74c3c;
	}

	.fb-share
	{
		font-size: 1.2rem;
		padding: 0;
		border: none;
		color: #2980b9;
		background-color: inherit;
		cursor: pointer;
	}

	.comment-data
	{	
		padding: 5px;
		margin: 10px;
		display: flex;
		justify-content: flex-end;
		font-size: .9rem;
	}
	
	.comment-username
	{
		margin-right: auto;
		font-weight: bold;
	}

	.comment-time
	{
		margin-right: 3px;
		line-height: 4;
		font-size: .7rem;
	}

	.comment
	{
		margin-top: 10px;
		background-color: #bdc3c7; 
	}
	
	.reply
	{
		text-decoration: none;
		color: #D2691E;
		padding: 0;
    	margin: 0;
    	border: none;
    	background: inherit;
    	cursor: pointer;
	}

	.comment-text
	{
		margin: 10px;
	}
	
	.comment-option
	{
		display: flex;
		justify-content: flex-start;
	}

	.call-to-comment
	{
		margin: 7px;
		border: none;
		font-size: 1.8rem;
		cursor: pointer;
		background-color: #bdc3c7;
	}

	.text-comment
	{
		width: 90%;
		margin-left: 65px;
		display: none;
	}

	.reply-form-wrapper
	{
		background: #bdc3c7;
    	padding: 5px;
    	margin: 5px;
	}

	.reply-form-wrapper .form-group label
	{
		text-align: center;
    	margin: 5px;
	}

	.form-group
	{
		display: flex;
		flex-direction: column;
	}

	.btn-send-comment
	{

	}

	.comment-answers
	{
		font-size: 1rem;
		margin-left: 10px;
	}

	.comment-answers-icon
	{
		transform: rotate(180deg);
		margin-right: 5px;

	}

	.comment-replys
	{
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}

	.comment-replys .comment
	{
		width: 95%;
	}

	.new-comment-reply-hidden
	{
		display: none;
	}

	.hidden
	{
		display: none;
	}

	.form-label
	{
		color: #FFFFFF;
		text-align: center;
    	margin: 10px;
    	font-size: 1.3rem;
    	font-family: 'Vollkorn SC', serif;
	}

	.story-rules
	{
		display: flex;
		flex-direction: column;
		align-items: center;
		color: #34495e;
		background-color: #ecf0f1;
		padding: 10px;
		margin: 10px;
	}

	.story-rules h3
	{
		font-family: 'Vollkorn SC', serif;
	}

	.story-rules-list li
	{
		margin-top: 5px;
	}

	.login-form
	{
		border-top: 2px solid #FFFFFF;
		display: flex;
	    flex-direction: column;
	    flex-basis: 70%;
	    width: 100%;
	    margin-left: auto;
	    margin-right: auto;
	    color: #fff;
	    align-items: center;
	}

	.login-form h4
	{
		margin: 5px;
	}

	.login-form-input
	{
	    margin: 10px;
    	height: 20px;
    	width: 200px;
    	padding: 4px;
	}

	.register-account
	{
		font-family: 'Vollkorn SC', serif;
	    box-sizing: border-box;
	    padding: 25px;
	    margin: 15px;
	    background-color: #ecf0f1;
	}

	.register-account .form-group label
	{
		text-align: center;
	    margin-bottom: 7px;
	}

	.register-account .form-group input
	{
		padding: 5px;
	    margin: 4px;
	    border-radius: 7px;
	}

	.pagination
	{
		display: flex;
    	justify-content: center;
    	list-style: none;
    	box-sizing: border-box;
    	margin: 10px;
    	padding: 0;
    	background-color: #bdc3c7;
	}

	.pagination li
	{
		font-size: 1.4rem;
		margin: 7px;
		padding: 3px;
		font-family: 'Vollkorn SC', serif;
	}

	.pagination a
	{
		text-decoration: none;
    	color: #D2691E;
	}

	.sidebar
	{
		display: none;
	}

	.wrapper-modal
	{
		position: fixed;
	    width: 100%;
	    height: 100%;
	    top: 0;
	    left: 0;
	    z-index: 10000;
	    background: rgba(79, 42, 42,.6);
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    font-family: 'Vollkorn SC', serif;
	    border: 2px solid #FFFFFF;
	}

	.modal-login
	{
		position: relative;
		box-sizing: border-box;
		width: 70%;
		padding: 10px;
    	background: #95a5a6;
    	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
		box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	}

	.modal-login .modal-header h3
	{
		color: #FFFFFF;
	}

	.form-modal-login-wrapper
	{
		margin-top: 5px;
    	margin-bottom: 5px;
		background-color: #ecf0f1;

	}

	.login-modal-form-group
	{
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.login-modal-form-group input
	{
		width: 80%;
		padding: 5px;
	}

	.login-modal-form-group label
	{
		margin-bottom: 5px;
	}

	.close-modal
	{
	    position: absolute;
	    right: 10px;
	    color: #e74c3c;
	}

	.profile
	{
		background: #bdc3c7;
    	padding: 5px
	}

	.profile-header h3
	{
		text-align: center;
	}

	.user-info
	{
		margin: 5px;
	}

	.profile-info
	{
		display: flex;
		justify-content: space-between;
		margin-top: 5px;
		font-family: 'Vollkorn SC', serif;
	}

	.profile-info p
	{
		margin: 0;
	}

	.profile-info span
	{
		font-weight: bold;
		font-family: 'Lato', sans-serif;
	}

	.positive
	{
		color: #27ae60;
	}

	.negative
	{
		color: #c0392b;
	}

	.menu-profile-item
	{
		display: flex;
		justify-content: center;
		margin: 10px;
	}

	.menu-profile-item a
	{
		color: #fff;
	}


	.login-links
	{
		display: flex;
    	justify-content: space-around;
    	width: 100%;
	}

	.footer
	{
		width: 100%;
		position: absolute;
		bottom: 0;
	}

	.nav-footer-list
	{
		flex-direction: column;
		align-items: center;
		box-sizing: border-box;
		display: flex;
	    width: 100%;
	    justify-content: space-around;
	    list-style: none;
	    font-size: 1.2rem;
	    padding: 10px;
	    margin-bottom: 0;
	    background-color: #7f8c8d;
	    border-top: 2px solid #FFF;
	}

	.nav-footer-list .nav-footer-list-item
	{
		margin-bottom: 5px;
		color: #FFFFFF;
	    font-weight: bold;
	    font-family: 'Vollkorn SC', serif;
	}

	.agree-section
	{
		display: flex;
	    flex-direction: column;
	    box-sizing: border-box;
	    margin-bottom: 10px;
	    background-color: #bdc3c7;
	    padding: 10px;
	}

	.header-agree
	{
		color: #fff;
		text-align: center;
		font-family: 'Vollkorn SC', serif;
	}

	.only-lg
	{
		display: none;
	}

}

 @media only screen and (min-width : 1224px) {
	
	body
	{
		padding-bottom: 50px;
	}


	.main-header
	{
		border-bottom: 2px solid #fff;
	}

	.menu-list .nav-item
	{
		display: none;
	}


	.menu-main
	{
		display: flex;
		margin: 0;
		height: 100%;
		flex-direction: row;
		width: auto;
		border: none;
	}

	.menu-main .nav-item 
	{
	    display: flex;
	    align-items: center;
	    box-sizing: border-box;
	    justify-content: center;
	    border: none; 
	    padding: 10px;
	    font-size: 1.2rem;
	    margin-right: 25px;
		transition: 1s background-color ease-in-out;
	}

	.menu-main .nav-item a
	{
		width: 100%;
		text-align: center;
		text-decoration: none;
		color: #ffffff;
		cursor: pointer;
	}

	.menu-list
	{
		margin-top: 6px;
		width: 300px;
	    z-index: 2;
	    padding: 0;
	    border-top: none;
	    border-left: 2px solid #fff;
	}


	.menu-list
	{
		-webkit-animation: fadeInFromNone 0.5s ease-out;
	    -moz-animation: fadeInFromNone 0.5s ease-out;
	    -o-animation: fadeInFromNone 0.5s ease-out;
	    animation: fadeInFromNone 0.5s ease-out;
	}

	.menu-list:last-child
	{
		border-bottom: 2px solid #fff;
	}
	
	
	.main-wrapper
	{
		max-width: 1200px;
		margin-left: auto;
		margin-right: auto;
		display: flex;
	}

	.posts {
		width: 70%;
	    box-sizing: border-box;
	    margin: 10px;
	}

	.login-form
	{
		display: flex;
    	flex-direction: column;
    	align-items: center;
		border-top: none;
	}

	.sidebar
	{
		display: block;
		margin-top: 20px;
		width: 30%;

	}


	.login-form-label
	{
		color: #fff;
    	font-weight: bold;
    	font-size: 1.1rem;
	}

	.login-header h4
	{
		border-bottom: 1px solid #fff;
		margin-top: 0px;
		margin-bottom: 5px;
		color: #fff
	}

	.menu-profile-item
	{
		display: flex;
		justify-content: center;
		margin: 10px;
	}

	.btn-profile
	{
	  color: #fff;
	  border-bottom: 1px solid #fff;
	  font-size: 1.2rem;
	  font-weight: bold;
	  text-decoration: none;
	}

	.new-comment-reply
	{
		width: 100%;
	    justify-content: flex-end;
	    padding: 15px;
	    margin-right: 0;
	    display: flex;
	    box-sizing: border-box;
	}

	.new-comment-reply-hidden
	{
		display: none;
	}

	.reply-form-wrapper
	{
		box-sizing: border-box;
    	padding: 10px;
    	background: #bdc3c7;
	}

	.vote-comment
	{
		margin: 7px;
		border: none;
		font-size: 1.8rem;
		cursor: pointer;
		background-color: #bdc3c7;
	}

	.popular-wrapper
	{
	    border: 1px solid #bdc3c7;
	    background-color: #423939;
	    box-sizing: border-box;
	    padding: 3px;
	    margin-top: 5px;
	    display: flex;
	    flex-direction: column;
	    font-family: 'Vollkorn SC', serif;
	    color: #fff;
	}

	.popular-wrapper h3
	{
		margin-left: 20px;
		margin-top: 5px;
		margin-bottom: 3px;
	}

	.popular-wrapper .popular-list
	{
		list-style: none;
		margin-top: 3px;
	}

	.popular-wrapper a
	{
    	text-decoration: none;
    	color: #D2691E;
	}

	
	.nav-footer-list
	{
		flex-direction: row;
	}


.only-mobile
{
	display: none;
}

.only-lg
{
	display: flex;
	justify-content: center;
}

 }



 @-o-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: flex;
        opacity: 0;
    }

    100% {
        display: flex;
        opacity: 1;
    }
}

@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: flex;
        opacity: 0;
    }

    100% {
        display: flex;
        opacity: 1;
    }
}